{% extends "layout.html" %}

{% block head %}
	<!-- JS Chart scripts-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Temperature Chart</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block title %}
    History
{% endblock %}

{% block main %}


<h3> HISTORICAL DATA </h3>

<canvas id="lineChart" width="900" height="400"></canvas>
<script>
	var ctx = document.getElementById("lineChart").getContext("2d");
	var lineChart = new Chart(ctx, {
		type: "line",
		data: {
			labels: {{ dates | safe }},
			datasets: [
				{
					label: "Temperature", 
					data: {{ temperature | safe }},
					fill: false,
					borderColer: "rgb(75,192,192)",
					lineTension: 0.1
				}
			]
		},
		options: {
			responsive: false
		}
	});
</script>
	
<div>
	<form method="get" action="/history">
		<label for="birthday">Starting date:</label>
		<input type="date" id="date" name="date">
		<input type="time" id="time" name="time">
		<input type="number" id="period" name="period" placeholder="Duration (h)">
		<button class="btn btn-primary" type="submit"> Submit </button>
	</form>
</div>

{% endblock %}