{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <h1  id="timestamp"></h1>
    <h1 style="display:inline; clear:none" id="temperature"></h1>
    <h1 style="display:inline;" id="humidity"></h1>






    <script>
        function AjaxCall(){
        $.ajax({url: "/process",
                type: "POST",
            success: function(result){
                console.log(result);
                document.getElementById("timestamp").innerHTML = result["timestamp"];
                document.getElementById("temperature").innerHTML = result["temperature"];
                document.getElementById("humidity").innerHTML = result["humidity"];
            }});
        }

        AjaxCall();

        $(document).ready(function(){
            setInterval(AjaxCall, 10000);
        });
    </script>

{% endblock %}









