{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <h1 id="timestamp"></h1>
    <h1 id="temperature"></h1>
    <h1 id="humidity"></h1>


    <script>
        $(document).ready(function(){
            $("button").click(function(){
                $.ajax({url: "/process",
                        type: "POST",
                success: function(result){
                    console.log(result);
                    document.getElementById("timestamp").innerHTML = result["timestamp"];
                    document.getElementById("temperature").innerHTML = result["temperature"];
                    document.getElementById("humidity").innerHTML = result["humidity"];
                }});
            });
        });
    </script>

    <button id="btn">Get External Content</button>
{% endblock %}




setInterval(function(){$.ajax({
    url: '/update',
    type: 'POST',
    success: function(response) {
        console.log(response);
        $("#num").html(response["value"]);
        $("#time").html(response["time"]);
    },
    error: function(error) {
        console.log(error);
    }
})}, 1000);




