{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div>
        <h1  id="timestamp"></h1>
    </div>
    
    <h1 id="temperature"></h1>
    <h1 id="humidity"></h1>

    <script>
        function AjaxCall(){
        $.ajax({url: "/process",
                type: "POST",
            success: function(result){
                console.log(result);
                document.getElementById("timestamp").innerHTML = result["timestamp"];
                document.getElementById("temperature").innerHTML = "Temperature: ".concat(result["temperature"]);
                document.getElementById("humidity").innerHTML = "Humidity: ".concat(result["humidity"]);
            }});
        }

        AjaxCall();

        $(document).ready(function(){
            setInterval(AjaxCall, 10000);
        });
    </script>

{% endblock %}









